<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 全局配置 
	<settings>
		<setting name="" value=""/>
	</settings>
	-->
	
	<!-- 别名 -->
	<typeAliases>
		<typeAlias alias="role" type="com.test.pojo.Role"/>
		<!-- 扫描包配置 -->
		<package name="com.test.pojo"/>
	</typeAliases>
	
	<!-- 配置数据库环境，与spring整合后，sqlSource的配置在spring配置文件中，交给springioc去管理 -->
	<environments default="development">
		<environment id="development">
			<!-- 使用JDBC事务管理 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- dataSource,采用数据库连接池 -->
			<dataSource type="POOLED">
				<property name="username" value="root"/>
				<property name="password" value="csj0221"/>
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/test03?characterEncoding=utf-8"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- mapper映射配置-->
	<mappers>
		<package name="com.test.mapper"/>
		<!-- 或者
		<mapper resource="com/test/mapper/RoleMapper.xml"/>
		 -->
	</mappers>
 	
 	<!-- 自定义的类型转换器dd3
 	<typeHandlers></typeHandlers>
 	 -->
 	 
 	<!-- 可在此配置插件
    <plugins>
    	<plugin interceptor=""></plugin>
    </plugins>
     -->
	
</configuration>
