<?xml version="1.0" encoding="UTF-8"?>  
   
<web-app  
        version="3.0"  
        xmlns="http://java.sun.com/xml/ns/javaee"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">  
   
	<!-- 配置spring IoC配置文件路径-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	
	<!-- 配置ContextLoaderListener初始化Spring IoC容器 
	此处使用的的IoC容器为WebApplicationContext-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- 配置SpringMVC的核心，DispatcherServlet -->
	<!-- springMVC默认/WEB-INF/dispatcher-servlet.xml(servletname-servlet.xml)作为springMVC配置文件 -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<!-- throwExceptionIfNoHandlerFound默认为false -->
		<!-- 手动开启找不到对应handler抛出异常 -->
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 2表示在服务器启动的时候就初始化 -->
		<load-on-startup>2</load-on-startup>
		<!-- multipartResolver参数,web.xml v3.0支持 -->
		<multipart-config>
			<location>e:/mvc/uploads</location>
			<!-- 文件的最大大小，单位为字节。默认没有限制。单个文件大小 -->
			<max-file-size>5242800</max-file-size>
			<!-- 请求的最大大小，单位为字节。默认没有限制。相当于文件总大小 -->
			<max-request-size>10485760</max-request-size>
			<!-- 文件大小阈值，当大于这个阈值时将写入到磁盘，否则在内存中。默认值为0 -->
			<file-size-threshold>0</file-size-threshold>
		</multipart-config>
	</servlet>
	<!-- Servlet拦截配置 -->
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
